.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
}
.Header h1{
    font-size: 55px;
    margin-left:190px
}
.Header p{
    font-size: 27px;
    padding: 10px;
    margin-left:80px
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.header-btns button{
    font-size: 20px;
    padding: 14px;
    margin: 0px;
    margin-left:320px;
    border-radius: 7px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
    transition: 0.4s;
}
.header-btns button:hover{
    background-color: green;
    color: white;
    font-weight: 500px;
}
.works{
    width: 80%;
    margin: 40px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 25px;
    border-radius: 10px;
    background-color: aquamarine;
}
.work{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}
.dwork{
    background-color:white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); 
    padding: 20px; 
    margin: 10px; 
}
.dwork h1{
    padding: 5px;
}
.dwork p{
    font-size: 20px;
}
img {
    width: 80%;
    height: 690px;
    object-fit: cover;
}

#impact{
    font-size: 40px;
    color: green;
}
.footer{
    padding: 10px;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    background-color:black;
}
