/* Login Page Styling */
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}

.Login h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    width: 100%;
}

.LoginForm {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.LoginForm label {
    font-size: 16px;
    color: #555;
   
    font-weight: bold;
}

.LoginForm input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    background-color: white;
    transition: border-color 0.3s;
}

.LoginForm input:focus {
    border-color: green;
}

.LoginForm button {
    padding: 12px;
    background-color: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    transition: background-color 0.3s;
}

.LoginForm button:hover {
    background-color: darkgreen;
}

.LoginForm a {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 20px;
    color: blue;
    text-decoration: none;
}

.LoginForm a:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .LoginForm {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .LoginForm {
        width: 90%;
    }
}